version: '3.8'

services:
  backend:
    build: ./backend
    container_name: em_backend
    restart: always
    networks:
      - app_network

  nginx:
    image: nginx:stable-alpine
    container_name: em_nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - backend
    networks:
      - app_network

networks:
  app_network:
    driver: bridge